html, body {
  padding: 0;
  margin: 0;
}

#dropdown-menu {
  width: 200px;
  border: none;
}

.menu-item {
  width: 200px;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid;
  text-align: center;
}

li.menu-item:last-child {
  border-bottom: none;
}

#dropdown-menu-container ul li.menu-item {
  background: pink;
}

#dropdown-menu-container ul.submenu li.menu-item {
  background: violet;
}

#dropdown-menu-container ul.submenu .submenu li.menu-item {
  background: lightgreen;
}

